*{
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
}



.gap_15{
  gap: 15px;
}

.mt_10{
  margin-top: 10px;
}
.divices_card{
  max-width: 510px;
  width: 100%;
  border: 1.09px solid #0000001A;
}
.mt_30{
  margin-top: 30px;
}

.gap_40{
  gap: 40px;
}
.commonbtn{
padding: 16.35px 27.25px 16.35px 27.25px;
background: #6E9277;
 font-size: 18px;
 line-height: 19.58px;
 border: none;


}
.mt_60{
  margin-top: 60px;
}

.bg_img{
  background-image: url(../src/assets/images/Homepage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}